section.section
  .section_in.section_grid
    +list([
      {
        img: '',
        tag: 'Здравохранение 1',
        mark: '',
        author: 'Василий Пупкин',
        title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
        date: '10 чер 20',
        time: '~6 мин',
        link: {
          text: 'https://github.com/alextheme/gl-test-everest',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Государственный сектор 2',
        author: 'Владимир Мищенко',
        title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
        descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: 'https://alextheme.github.io/gl-test-everest/',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Страхование 3',
        author: 'Владимир Мищенко',
        title: 'Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций',
        descr: 'Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций',
        date: '10 чер 20',
        time: '~2 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Здравоохранение 4',
        author: '',
        title: 'Компания EchoNous создала KOSMOS AI – прибор для диагностики пациентов прямо в больничной палате Компания EchoNous создала KOSMOS AI – прибор для диагностики пациентов прямо в больничной палате',
        descr: 'Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Телекоммуникации 5',
        author: '',
        title: 'BearingPoint продлила соглашение с инкубатором телекоммуникационной группы Telefonica, компанией Wayra',
        descr: '',
        date: '10 чер 20',
        time: '~4 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        accent_look: 'accent_1',
        img: 'img02',
        tag: '6',
        mark: 'new!',
        author: 'Юрий Чубатюк',
        title: '<strong>Digital "transformation"</strong> по-украински',
        descr: '',
        date: '',
        time: '',
        link: {
          text: '#',
          video: 'https://www.youtube.com/watch?v=xmrNpEI8kYQ',
        }
      },
      {
        img: 'img06',
        tag: 'Здравоохранение 7',
        author: 'Пётр Ванькин',
        title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасн123',
        descr: '',
        date: '10 чер 20',
        time: '~5 мин',
        link: {
          text: '#',
          video: '#',
        }
      },
      {
        img: '',
        tag: 'Транспорт и логистика 8',
        author: '',
        title: 'Служба доставки еды Foodora Canada заключила партнерские отношения с производителем роботов-курьеров Tiny Mile ',
        descr: '',
        date: '10 чер 20',
        time: '~3 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Банки 9',
        author: '',
        title: 'BL Bank использует технологии для создания новых источников дохода',
        descr: '',
        date: '10 чер 20',
        time: '~2 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img03',
        tag: 'Ритейл и eCommerce 10',
        author: '',
        title: 'Используя Alteryx, компания Coca-Cola снизила расходы на 60% Вася Пупкин Вася ПупкинВася ПупкинВася ПупкинВася ПупкинВася ПупкинВася ПупкинВася ПупкинВася Пупкин',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: 'https://www.youtube.com/watch?v=5b18LXBpVDo',
        }
      },
      {
        img: '',
        tag: 'Ритейл и eCommerce 11',
        author: '',
        title: 'MakeMyTrip использует цифровые платформы, способствующие более широкому распространению электронной коммерции',
        descr: '',
        date: '10 чер 20',
        time: '~7 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Страхование 12',
        author: '',
        title: 'Страховая компания Kotak Life Insurance использует интеллектуальные алгоритмы для проверки статуса клиента',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
      accent_look: 'accent_1',
        img: 'img02',
        tag: 'Банки 13',
        mark: 'new!',
        author: 'Юрий Чубатюк',
        title: '<span>Digital transformation</span> по-украински <span>Digital transformation</span> по-украински <span>Digital transformation</span> по-украински',
        descr: '',
        date: '',
        time: '',
        link: {
          text: '#',
          video: 'https://www.youtube.com/watch?v=xmrNpEI8kYQ',
        }
      },
      {
      accent_look: '',
        img: 'img02',
        tag: 'Технологии 14',
        mark: 'new!',
        author: 'Юрий Чубатюк',
        title: '<span>Digital transformation</span> <span>по-украински</span>',
        descr: '',
        date: '',
        time: '',
        link: {
          text: '#',
          video: 'https://www.youtube.com/watch?v=xmrNpEI8kYQ',
        }
      },
      {
        img: '',
        tag: 'Государственный сектор 15',
        author: 'Владимир Гуляко',
        title: 'Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов ',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img06',
        tag: 'Ритейл/еCommerce 16',
        author: 'Аполлинарий Космодемьянский',
        title: 'Citi ежегодно тратит на технологии более 8 млрд. дол., являясь лидером в области цифровых решений в сфере банкинга ',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: 'https://test.glivera.com/team/tasks/2020/site-everest/grid_items.html#',
        }
      },
      {
        img: '',
        tag: 'Транспорт и логистика 17',
        author: 'Артём Голоскевич',
        title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов Citi ежегодно тратит на технологии более 8 млрд. дол., являясь лидером в области цифровых решений в сфере банкинга ',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img05',
        tag: 'Банки 18',
        author: 'Денис Полищук',
        title: 'AI и ML от Dateiku в банковском деле для безопасности и эффективного управления данными',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Телекомуникации 19',
        author: '',
        title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов Citi ежегодно тратит на технологии более 8 млрд. дол., являясь лидером в области цифровых решений в сфере банкинга ',
        descr: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела Citi ежегодно тратит на технологии более 8 млрд. дол., являясь лидером в области цифровых решений в сфере банкинга ',
        date: '10 чер 20',
        time: '~2 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img04',
        tag: 'Государственный сектор 20',
        author: 'Артём Голоскевич',
        title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img05',
        tag: 'Банки 21',
        author: 'Пётр Ванькин',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        descr: '',
        date: '10 чер 20',
        time: '~4 мин',
        link: {
          text: 'https://caniuse.com/',
          video: '',
        }
      },
      {
        img: 'img04',
        tag: 'Транспорт и логистика 22',
        author: 'Владимир Мищенко',
        title: 'Поставщик технологических логистических решений Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов',
        descr: ' Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов Aramex применяет MobiControl для контроля активов',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Банки',
        author: 'Владимир Мищенко 23',
        title: 'Новейшая интеллектуальная защита корпоративных данных от Bitdefender для Patria Bank',
        descr: 'Решение является одним из лучших на рынке для обеспечения ИТ-безопасности и эффективной борьбы с киберпреступностью',
        date: '10 чер 20',
        time: '~3 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Транспорт и логистика 24',
        author: '',
        title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров  использует TAP-браслеты для валидации пассажиров использует TAP-браслеты для валидации пассажиров использует TAP-браслеты для валидации пассажиров использует TAP-браслеты для валидации пассажиров использует TAP-браслеты для валидации пассажиров использует TAP-браслеты для валидации пассажиров',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img07',
        tag: 'Государственный сектор 25',
        author: 'Артём Голоскевич',
        title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
        descr: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Государственный сектор 26',
        author: '',
        title: 'PPG Industries использует прогнозную аналитику для поддержания промышленных активов в функциональном состоянии',
        descr: '',
        date: '10 чер 20',
        time: '~4 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Банки 27',
        author: '',
        title: 'Инвестиционная компания Franklin Templeton Investments применяет решение о данных от Fractal',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img06',
        tag: 'Здравохранение 28',
        author: '',
        title: 'Gali Health представила персонального помощника по здоровью – Gali AI',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Ритейл и eCommerce 29',
        author: 'Денис Полищук',
        title: 'PepsiCo повысила скорость составления отчётов о продажах на 90%',
        descr: 'ПО сочетает обработку естественного языка, методологию синтаксического анализа неструктурированного текста и специальное ПО под базы данных для определения атрибутов платежа. Решение приводит к прогнозируемой ежегодной экономии в размере 6 млн. долл. в виде затрат на обработку и доработку вручную',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img04',
        tag: 'Телекоммуникации 30',
        author: 'Пётр Ванькин',
        title: 'Обеспечение максимальной защиты данных от Forcepoint для безопасности работы всего предприятия макс имальной',
        descr: 'Решение помогает избежать угроз нарушения сохранности конфиденциальной информации и управлять данными в режиме реального времени',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Здравоохранение',
        author: 'Аполлинарий Космодемьянский 31',
        title: 'Goldman Sachs проводит цифровую трансформацию с помощью приложений на базе машинного обучения ',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Банки',
        author: 'Аполлинарий Космодемьянский 32',
        title: 'Служба внутренних доходов США применяет аналитику данных для борьбы с мошенничеством',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Государственный сектор 33',
        author: 'Владимир Мищенко',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point ',
        descr: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point ',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img03',
        tag: 'Государственный сектор 34',
        author: 'Владимир Мищенко',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        descr: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Государственный сектор 35',
        author: 'Владимир Мищенко',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point ',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Государственный сектор ',
        author: 'Владимир Мищенко',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        descr: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img02',
        tag: 'Государственный сектор ',
        author: 'Владимир Мищенко',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check PointWestern Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check PointWestern Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check PointWestern Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check PointWestern Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check PointWestern Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        descr: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img03',
        tag: 'Ритейл и eCommerce 10',
        author: 'Вася Пупкин',
        title: 'Используя Alteryx, компания Coca-Cola снизила расходы на 60%',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: 'https://www.youtube.com/watch?v=5b18LXBpVDo',
        }
      },
      {
        img: '',
        tag: 'Ритейл и eCommerce 11',
        author: '',
        title: 'MakeMyTrip использует цифровые платформы, способствующие более широкому распространению электронной коммерции',
        descr: '',
        date: '10 чер 20',
        time: '~7 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Страхование 12',
        author: '',
        title: 'Страховая компания Kotak Life Insurance использует интеллектуальные алгоритмы для проверки статуса клиента',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
      accent_look: 'accent_1',
        img: 'img02',
        tag: '13',
        mark: 'new!',
        author: 'Юрий Чубатюк',
        title: '<span>Digital transformation</span> <span>по-украински</span>',
        descr: '',
        date: '',
        time: '',
        link: {
          text: '#',
          video: 'https://www.youtube.com/watch?v=xmrNpEI8kYQ',
        }
      },
      {
      accent_look: '',
        img: 'img02',
        tag: '14',
        mark: 'new!',
        author: 'Юрий Чубатюк',
        title: '<span>Digital transformation</span> <span>по-украински</span>',
        descr: '',
        date: '',
        time: '',
        link: {
          text: '#',
          video: 'https://www.youtube.com/watch?v=xmrNpEI8kYQ',
        }
      },
      {
        img: 'img04',
        tag: 'Государственный сектор !!!!!!!!',
        author: 'Владимир Гуляко',
        title: 'Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img06',
        tag: 'Ритейл/еCommerce 16',
        author: 'Аполлинарий Космодемьянский',
        title: 'Citi ежегодно тратит на технологии более 8 млрд. дол., являясь лидером в области цифровых решений в сфере банкинга ',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: 'https://test.glivera.com/team/tasks/2020/site-everest/grid_items.html#',
        }
      },
      {
        img: '',
        tag: 'Транспорт и логистика',
        author: 'Автор: Артём Голоскевич',
        title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
        descr: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img05',
        tag: 'Банки',
        author: 'Денис Полищук',
        title: 'AI и ML от Dateiku в банковском деле для безопасности и эффективного управления данными',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Телекомуникации',
        author: '',
        title: 'China Unicom применяет аналитику больших данных и Nokia Predictive Care для выявления аномалий в пакетном ядре',
        descr: '',
        date: '10 чер 20',
        time: '~2 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img04',
        tag: 'Государственный сектор',
        author: 'Артём Голоскевич',
        title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img05',
        tag: 'Банки',
        author: 'Пётр Ванькин',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        descr: '',
        date: '10 чер 20',
        time: '~4 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img06',
        tag: 'Транспорт и логистика ',
        author: 'Владимир Мищенко',
        title: 'Поставщик технологических логистических решений Aramex применяет MobiControl для контроля активов',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Банки',
        author: 'Владимир Мищенко',
        title: 'Новейшая интеллектуальная защита корпоративных данных от Bitdefender для Patria Bank',
        descr: 'Решение является одним из лучших на рынке для обеспечения ИТ-безопасности и эффективной борьбы с киберпреступностью',
        date: '10 чер 20',
        time: '~3 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Транспорт и логистика ',
        author: '',
        title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img07',
        tag: 'Государственный сектор',
        author: 'Артём Голоскевич',
        title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
        descr: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Государственный сектор',
        author: '',
        title: 'PPG Industries использует прогнозную аналитику для поддержания промышленных активов в функциональном состоянии',
        descr: '',
        date: '10 чер 20',
        time: '~4 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img06',
        tag: 'Банки',
        author: '',
        title: 'Инвестиционная компания Franklin Templeton Investments применяет решение о данных от Fractal',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img04',
        tag: 'Здравохранение',
        author: '',
        title: 'Gali Health представила персонального помощника по здоровью – Gali AI',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img01',
        tag: 'Ритейл и eCommerce ',
        author: 'Денис Полищук',
        title: 'PepsiCo повысила скорость составления отчётов о продажах на 90%',
        descr: 'ПО сочетает обработку естественного языка, методологию синтаксического анализа неструктурированного текста и специальное ПО под базы данных для определения атрибутов платежа. Решение приводит к прогнозируемой ежегодной экономии в размере 6 млн. долл. в виде затрат на обработку и доработку вручную',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img07',
        tag: 'Телекоммуникации',
        author: 'Пётр Ванькин',
        title: 'Обеспечение максимальной защиты данных от Forcepoint для безопасности работы всего предприятия',
        descr: 'Решение помогает избежать угроз нарушения сохранности конфиденциальной информации и управлять данными в режиме реального времени',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img05',
        tag: 'Здравоохранение',
        author: 'Аполлинарий Космодемьянский',
        title: 'Goldman Sachs проводит цифровую трансформацию с помощью приложений на базе машинного обучения ',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img04',
        tag: 'Банки',
        author: 'Аполлинарий Космодемьянский',
        title: 'Служба внутренних доходов США применяет аналитику данных для борьбы с мошенничеством',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img03',
        tag: 'Государственный сектор ',
        author: 'Владимир Мищенко',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        descr: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img06',
        tag: 'Государственный сектор ',
        author: 'Владимир Мищенко',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        descr: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img06',
        tag: 'Государственный сектор ',
        author: 'Владимир Мищенко',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        descr: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img01',
        tag: 'Государственный сектор ',
        author: 'Владимир Мищенко',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        descr: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img01',
        tag: 'Государственный сектор ',
        author: 'Владимир Мищенко',
        title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check PointWestern Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check PointWestern Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check PointWestern Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check PointWestern Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check PointWestern Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
        descr: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img03',
        tag: 'Ритейл и eCommerce 10',
        author: 'Вася Пупкин',
        title: 'Используя Alteryx, компания Coca-Cola снизила расходы на 60%',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: 'https://www.youtube.com/watch?v=5b18LXBpVDo',
        }
      },
      {
        img: '',
        tag: 'Ритейл и eCommerce 11',
        author: '',
        title: 'MakeMyTrip использует цифровые платформы, способствующие более широкому распространению электронной коммерции',
        descr: '',
        date: '10 чер 20',
        time: '~7 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Страхование 12',
        author: '',
        title: 'Страховая компания Kotak Life Insurance использует интеллектуальные алгоритмы для проверки статуса клиента',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
      accent_look: 'accent_1',
        img: 'img02',
        tag: '13',
        mark: 'new!',
        author: 'Юрий Чубатюк',
        title: '<span>Digital transformation</span> <span>по-украински</span>',
        descr: '',
        date: '',
        time: '',
        link: {
          text: '#',
          video: 'https://www.youtube.com/watch?v=xmrNpEI8kYQ',
        }
      },
      {
      accent_look: '',
        img: 'img02',
        tag: '14',
        mark: 'new!',
        author: 'Юрий Чубатюк',
        title: '<span>Digital transformation</span> <span>по-украински</span>',
        descr: '',
        date: '',
        time: '',
        link: {
          text: '#',
          video: 'https://www.youtube.com/watch?v=xmrNpEI8kYQ',
        }
      },
      {
        img: 'img04',
        tag: 'Государственный сектор 15',
        author: 'Владимир Гуляко',
        title: 'Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          img: '#',
          text: '#',
          video: '',
        }
      },
      {
        img: 'img06',
        tag: 'Ритейл/еCommerce 16',
        author: 'Аполлинарий Космодемьянский',
        title: 'Citi ежегодно тратит на технологии более 8 млрд. дол., являясь лидером в области цифровых решений в сфере банкинга ',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: 'https://test.glivera.com/team/tasks/2020/site-everest/grid_items.html#',
        }
      },
      {
        img: '',
        tag: 'Транспорт и логистика',
        author: 'Автор: Артём Голоскевич',
        title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
        descr: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img05',
        tag: 'Банки',
        author: 'Денис Полищук',
        title: 'AI и ML от Dateiku в банковском деле для безопасности и эффективного управления данными',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: '',
        tag: 'Телекомуникации',
        author: '',
        title: 'China Unicom применяет аналитику больших данных и Nokia Predictive Care для выявления аномалий в пакетном ядре',
        descr: '',
        date: '10 чер 20',
        time: '~2 мин',
        link: {
          text: '#',
          video: '',
        }
      },
      {
        img: 'img04',
        tag: 'Государственный сектор',
        author: 'Артём Голоскевич',
        title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства',
        descr: '',
        date: '10 чер 20',
        time: '~1 мин',
        link: {
          text: '#',
          video: '',
        }
      },
    ])



