+grid_list([
  {
descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунто',
    img: 'img06',
    tag: 'Здравохранение 1',
    mark: '',
    status: '',
    author: 'Владимир Мищенко',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Противостояние кибератакам и вирусам с помощью',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: 'img03',
    tag: 'Здравохранение 2',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: 'img04',
    tag: 'Здравохранение 3',
    mark: '',
    status: '',
    author: 'Владимир Мищенко',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение 4',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение 5',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
   {
    accent_look: 'accent_1',
    img: 'img02',
    tag: 'tag #6',
    mark: 'new!',
    author: 'Юрий Чубатюк',
    title: '<span>Digital transformation</span> по-украински',
    descr: '',
    date: '',
    time: '',
    link: {
      img: '',
      text: '#',
      video: 'https://www.youtube.com/watch?v=xmrNpEI8kYQ',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение 7',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение 8',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение 9',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: 'img03',
    tag: 'Здравохранение 10',
    mark: '',
    status: '',
    author: 'Василий Пупкин',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: 'https://www.youtube.com/watch?v=xmrNpEI8kYQ',
    }
  },
  {
    accent_look: '',
    img: 'img01',
    tag: 'Здравохранение 11',
    mark: '',
    status: '',
    author: 'Веселый Велосипед',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: 'img06',
    tag: 'Здравохранение 12',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: 'img01',
    tag: 'Здравохранение 13',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: 'img01',
    tag: 'Здравохранение 14',
    mark: '',
    status: '',
    author: 'Тамара Ивановна',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение 15',
    mark: '',
    status: '',
    author: 'Валентина Терешкова',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: 'img01',
    tag: 'Здравохранение 16',
    mark: '',
    status: '',
    author: 'Радостный Виталик',
    title: '111 Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: 'img04',
    tag: 'Здравохранение 17',
    mark: '',
    status: '',
    author: 'Круглий везунчик',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного админис',
    descr: '',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: 'img01',
    tag: 'Здравохранение 18',
    mark: '',
    status: '',
    author: 'цццццццццццц цццццццццццц',
    title: 'Противостояние дучрежденииа',
    descr: 'Правительство Великобр сдучрежденииа дучрежденииа дучрежденииа',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение 19',
    mark: '',
    status: '',
    author: 'Вася Пукашвили',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: '',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение 20',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение 21',
    mark: '',
    status: '',
    author: 'Правительство Великобритании',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение 22',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: 'img01',
    tag: 'Здравохранение 23',
    mark: '',
    status: '',
    author: 'Противостояние кибератакам',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: 'img05',
    tag: 'Здравохранение 30',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {
    accent_look: '',
    img: '',
    tag: 'Здравохранение',
    mark: '',
    status: '',
    author: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: 'Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      img: '',
      text: '#',
      video: '',
    }
  },
  {title: '32',},
  {title: '33',},
  {title: '34',},
  {title: '35',},
  {title: '36',},
  {title: '37',},
  {title: '38',},
  {title: '39',},
  {title: '40',},
  {title: '41',},
  {title: '42',},
  {title: '43',},
  {title: '44',},
  {title: '45',},
  {title: '46',},
  {title: '47',},
  {title: '48',},
  {title: '49',},
  {title: '50',},
  {title: '51',},
  {title: '52',},
  {title: '53',},
  {title: '54',},
  {title: '55',},
  {title: '56',},
  {title: '57',},
  {title: '58',},
  {title: '59',},
  {title: '60',},
  {title: '61',},
  {title: '62',},
  {title: '63',},
  {title: '64',},
  {title: '65',},
  {title: '66',},
  {title: '67',},
  {title: '68',},
  {title: '69',},
  {title: '70',},
  {title: '71',},
  {title: '72',},
  {title: '73',},
  {title: '74',},
  {title: '75',},
  {title: '76',},
  {title: '77',},
  {title: '78',},
  {title: '79',},
  {title: '80',},
  {title: '81',},
  {title: '82',},
  {title: '83',},
  {title: '84',},
  {title: '85',},
  {title: '86',},
  {title: '87',},
  {title: '88',},
  {title: '89',},
  {title: '90',},
  {title: '91',},
  {title: '92',},
  {title: '93',},
  {title: '94',},
  {title: '95',},
  {title: '96',},
  {title: '97',},
  {title: '98',},
  {title: '99',},
  {title: '100',},
  {title: '101',},
  {title: '102',},
  
  
])



