+grid_list([
  {
    img: 'img01',
    tag: 'Здравохранение',
    status: '',
    author: 'Владимир Мищенко',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении',
    descr: '',
    data: '10 чер 20',
    time: '~6 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Государственный сектор',
    author: '',
    title: 'Правительство Великобритании инвестировало 40 млн. фунтов стерлингов в цифровые сервисы в целях улучшения кибербезопасности ',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Страхование',
    author: '',
    title: 'Страховая компания Berkshire Hathaway (BHHC) использует аналитическое решение CLARA для выплат компенсаций',
    descr: '',
    data: '10 чер 20',
    time: '~2 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Здравоохранение',
    author: '',
    title: 'Компания EchoNous создала KOSMOS AI – прибор для диагностики пациентов прямо в больничной палате',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Телекоммуникации',
    author: '',
    title: 'BearingPoint продлила соглашение с инкубатором телекоммуникационной группы Telefonica, компанией Wayra',
    descr: '',
    data: '10 чер 20',
    time: '~4 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: 'img02',
    tag: '',
    status: 'new!',
    author: 'Юрий Чубатюк',
    title: '<span>Digital transformation</span> по-украински',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '#',
    }
  },
  {
    img: '',
    tag: 'Здравоохранение ',
    author: 'Пётр Ванькин',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении ',
    descr: 'Решение дает возможность обеспечить комплексную, надежную защиту ИТ-инфраструктуры и регулирует уровень технических нагрузок с полным охватом разных цифровых систем',
    data: '10 чер 20',
    time: '~5 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Транспорт и логистика',
    author: '',
    title: 'Служба доставки еды Foodora Canada заключила партнерские отношения с производителем роботов-курьеров Tiny Mile ',
    descr: '',
    data: '10 чер 20',
    time: '~3 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Банки',
    author: '',
    title: 'BL Bank использует технологии для создания новых источников дохода',
    descr: '',
    data: '10 чер 20',
    time: '~2 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: 'img03',
    tag: 'Ритейл и eCommerce',
    author: 'Вася Пупкин',
    title: 'Используя Alteryx, компания Coca-Cola снизила расходы на 60%',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '#',
    }
  },
  {
    img: '',
    tag: 'Ритейл и eCommerce',
    author: '',
    title: 'MakeMyTrip использует цифровые платформы, способствующие более широкому распространению электронной коммерции',
    descr: '',
    data: '10 чер 20',
    time: '~7 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Страхование',
    author: '',
    title: 'Страховая компания Kotak Life Insurance использует интеллектуальные алгоритмы для проверки статуса клиента',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: 'img04',
    tag: 'Государственный сектор',
    author: 'Владимир Гуляко',
    title: 'Кибербезопасность и стабильность сети от WatchGuard для защиты данных и оптимизации бизнес-процессов',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Ритейл/еCommerce',
    author: 'Аполлинарий Космодемьянский',
    title: 'Citi ежегодно тратит на технологии более 8 млрд. дол., являясь лидером в области цифровых решений в сфере банкинга ',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Транспорт и логистика',
    author: 'Автор: Артём Голоскевич',
    title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
    descr: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: 'img05',
    tag: 'Банки',
    author: 'Денис Полищук',
    title: 'AI и ML от Dataiku в банковском деле для безопасности и эффективного управления данными',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Телекомуникации',
    author: '',
    title: 'China Unicom применяет аналитику больших данных и Nokia Predictive Care для выявления аномалий в пакетном ядре',
    descr: '',
    data: '10 чер 20',
    time: '~2 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: 'img04',
    tag: 'Государственный сектор',
    author: 'Артём Голоскевич',
    title: 'Smart Farming от Alteryx для цифрового преобразования и развития сельского хозяйства',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: 'img05',
    tag: 'Банки',
    author: 'Пётр Ванькин',
    title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
    descr: '',
    data: '10 чер 20',
    time: '~4 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: 'img06',
    tag: 'Транспорт и логистика ',
    author: 'Владимир Мищенко',
    title: 'Поставщик технологических логистических решений Aramex применяет MobiControl для контроля активов',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Банки',
    author: 'Владимир Мищенко',
    title: 'Новейшая интеллектуальная защита корпоративных данных от Bitdefender для Patria Bank',
    descr: 'Решение является одним из лучших на рынке для обеспечения ИТ-безопасности и эффективной борьбы с киберпреступностью',
    data: '10 чер 20',
    time: '~3 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Транспорт и логистика ',
    author: '',
    title: 'Метрополитен Лос-Анджелеса использует TAP-браслеты для валидации пассажиров',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: 'img07',
    tag: 'Государственный сектор',
    author: 'Артём Голоскевич',
    title: 'Логистическая компания Yusen Logistics применяет Alteryx для составления аналитических отчётов',
    descr: 'Платформа стала профессиональным инструментом для процесса ETL. На основании полученных данных бизнес-аналитики компании смогли извлекать требуемую информацию, проводить бизнес-ориентированный анализ и формировать отчёты для финансового отдела',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Государственный сектор',
    author: '',
    title: 'PPG Industries использует прогнозную аналитику для поддержания промышленных активов в функциональном состоянии',
    descr: '',
    data: '10 чер 20',
    time: '~4 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Банки',
    author: '',
    title: 'Инвестиционная компания Franklin Templeton Investments применяет решение о данных от Fractal',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Здравохранение',
    author: '',
    title: 'Gali Health представила персонального помощника по здоровью – Gali AI',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Ритейл и eCommerce ',
    author: 'Денис Полищук',
    title: 'PepsiCo повысила скорость составления отчётов о продажах на 90%',
    descr: 'ПО сочетает обработку естественного языка, методологию синтаксического анализа неструктурированного текста и специальное ПО под базы данных для определения атрибутов платежа. Решение приводит к прогнозируемой ежегодной экономии в размере 6 млн. долл. в виде затрат на обработку и доработку вручную',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Телекоммуникации',
    author: 'Пётр Ванькин',
    title: 'Обеспечение максимальной защиты данных от Forcepoint для безопасности работы всего предприятия',
    descr: 'Решение помогает избежать угроз нарушения сохранности конфиденциальной информации и управлять данными в режиме реального времени',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Здравоохранение',
    author: 'Аполлинарий Космодемьянский',
    title: 'Goldman Sachs проводит цифровую трансформацию с помощью приложений на базе машинного обучения ',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Банки',
    author: 'Аполлинарий Космодемьянский',
    title: 'Служба внутренних доходов США применяет аналитику данных для борьбы с мошенничеством',
    descr: '',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
  {
    img: '',
    tag: 'Государственный сектор ',
    author: 'Владимир Мищенко',
    title: 'Western Union защищает финансовые сделки на AWS, используя CloudGuard Dome9 от Check Point',
    descr: 'Dome9 – это комплексная программная платформа для обеспечения безопасности и согласования общедоступных облаков. Используя Dome9, компания оценивает свой уровень безопасности, защищает пользователей от кражи личной информации и потери данных в облаке',
    data: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: '',
    }
  },
])



