+v2_grid_list([
  {
    size: '32',
    style: 'a1',
    tag: 'new!',
    tag_color: '1',
    img: 'img02',
    author: 'Василий Пупкин',
    title: '<span>Digital transformation</span> по-украински',
    descr: '',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      text: 'https://github.com/alextheme/gl-test-everest',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '21',
    style: 'a1',
    tag: 'new!',
    tag_color: '2',
    author: 'Владимир Мищенко',
    img: 'img02',
    title: '<span>Digital transformation</span> по-украински',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: 'https://alextheme.github.io/gl-test-everest/',
      video: 'https://alextheme.github.io/gl-test-everest/',
    }
  },
  {
    size: '11',
    style: 'a1',
    img: 'img02',
    tag: 'new!',
    tag_color: '3',
    author: 'Владимир Мищенко',
    title: '<span>Digital transformation</span> по-украински',
    descr: '',
    date: '10 чер 20',
    time: '~2 мин',
    link: {
      text: '#',
      video: 'https://alextheme.github.io/gl-test-everest/',
    }
  },
  {
    size: '11',
    style: 'a1',
    img: 'img02',
    tag: 'new!',
    tag_color: '4',
    author: 'Никита Метелкин',
    title: '<span>Digital transformation</span> по-украински',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: 'https://alextheme.github.io/gl-test-everest/',
    }
  },
  {
    size: '22',
    style: 'a1',
    img: 'img02',
    tag: 'new!',
    tag_color: '4',
    author: 'Никита Метелкин',
    title: '<span>Digital transformation</span> по-украински',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: 'https://alextheme.github.io/gl-test-everest/',
    }
  },
  {
    size: '11',
    style: 'a1',
    img: 'img02',
    tag: 'new!',
    tag_color: '4',
    author: 'Никита Метелкин',
    title: '<span>Digital transformation</span> по-украински',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: 'https://alextheme.github.io/gl-test-everest/',
    }
  },
  {
    size: '12',
    style: 'a1',
    tag: 'Здравохранение',
    tag_color: '1',
    img: 'img06',
    author: 'Василий Пупкин',
    title: 'Противостояние <span>кибератакам вирусам</span> кибератакам',
    descr: '',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      text: 'https://github.com/alextheme/gl-test-everest',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '11',
    style: '',
    tag: 'Государственный сектор',
    tag_color: '2',
    author: 'Владимир Мищенко',
    img: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: 'https://alextheme.github.io/gl-test-everest/',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '11',
    style: '',
    img: 'img02',
    tag: 'Страхование',
    tag_color: '3',
    author: 'Владимир Мищенко',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: '',
    date: '10 чер 20',
    time: '~2 мин',
    link: {
      text: '#',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '11',
    style: '',
    img: 'img03',
    tag: 'Здравоохранение',
    tag_color: '4',
    author: 'Никита Метелкин',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '12',
    style: '',
    tag: 'Здравохранение',
    tag_color: '1',
    img: '',
    author: 'Василий Пупкин',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: '',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      text: 'https://github.com/alextheme/gl-test-everest',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '12',
    style: '',
    tag: 'Государственный сектор',
    tag_color: '2',
    author: 'Владимир Мищенко',
    img: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: 'https://alextheme.github.io/gl-test-everest/',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '12',
    style: '',
    img: 'img02',
    tag: 'Страхование',
    tag_color: '3',
    author: 'Владимир Мищенко',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: '',
    date: '10 чер 20',
    time: '~2 мин',
    link: {
      text: '#',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '12',
    style: '',
    img: 'img03',
    tag: 'Здравоохранение',
    tag_color: '4',
    author: 'Никита Метелкин',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '21',
    style: '',
    tag: 'Здравохранение',
    tag_color: '1',
    img: '',
    author: 'Василий Пупкин',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: '',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      text: 'https://github.com/alextheme/gl-test-everest',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '21',
    style: '',
    tag: 'Государственный сектор',
    tag_color: '2',
    author: 'Владимир Мищенко',
    img: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: 'https://alextheme.github.io/gl-test-everest/',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '21',
    style: '',
    img: 'img02',
    tag: 'Страхование',
    tag_color: '3',
    author: 'Владимир Мищенко',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: '',
    date: '10 чер 20',
    time: '~2 мин',
    link: {
      text: '#',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '21',
    style: '',
    img: 'img03',
    tag: 'Здравоохранение',
    tag_color: '4',
    author: 'Никита Метелкин',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
   {
    size: '22',
    style: '',
    tag: 'Здравохранение',
    tag_color: '1',
    img: '',
    author: 'Василий Пупкин',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: '',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      text: 'https://github.com/alextheme/gl-test-everest',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '22',
    style: '',
    tag: 'Государственный сектор',
    tag_color: '2',
    author: 'Владимир Мищенко',
    img: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: 'https://alextheme.github.io/gl-test-everest/',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '22',
    style: '',
    img: 'img02',
    tag: 'Страхование',
    tag_color: '3',
    author: 'Владимир Мищенко',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: '',
    date: '10 чер 20',
    time: '~2 мин',
    link: {
      text: '#',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '22',
    style: '',
    img: 'img03',
    tag: 'Здравоохранение',
    tag_color: '4',
    author: 'Никита Метелкин',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
    {
    size: '32',
    style: '',
    tag: 'Здравохранение',
    tag_color: '1',
    img: '',
    author: 'Василий Пупкин',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: '',
    date: '10 чер 20',
    time: '~6 мин',
    link: {
      text: 'https://github.com/alextheme/gl-test-everest',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '32',
    style: '',
    tag: 'Государственный сектор',
    tag_color: '2',
    author: 'Владимир Мищенко',
    img: '',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: 'https://alextheme.github.io/gl-test-everest/',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '32',
    style: '',
    img: 'img02',
    tag: 'Страхование',
    tag_color: '3',
    author: 'Владимир Мищенко',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: '',
    date: '10 чер 20',
    time: '~2 мин',
    link: {
      text: '#',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
  {
    size: '32',
    style: '',
    img: 'img03',
    tag: 'Здравоохранение',
    tag_color: '4',
    author: 'Никита Метелкин',
    title: 'Противостояние кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн кибератакам и вирусам с помощью Bitdefender для эффективного администрирования безопасности в медучреждении Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективного администрирования безопа Bitdefender для эффективн',
    descr: 'Description Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с Правительство Великобритании инвестировало 40 млн. фунтов с фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 фунтов с Правительство Великобритании инвестировало 40 ',
    date: '10 чер 20',
    time: '~1 мин',
    link: {
      text: '#',
      video: 'https://github.com/alextheme/gl-test-everest',
    }
  },
])
