$width_item_grid: ($page_width - 2rem * 4) / 5;
$height_item_grid: 24rem;

@mixin size_full {
  width: 100%;
  height: 100%;
}

@mixin img_wrapper_style {
  display: block;

  min-width: $width_item_grid;
  width: 100%;
  height: $height_item_grid;
}

@mixin tag_link_bg {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 12rem;
  width: fit-content;
  height: 2rem;
  padding: 0.6rem 1rem;
  margin-bottom: 1.1rem;

  color: inherit;
  background-color: $t_clr3;
}

@mixin position_abs_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

@mixin hover_transition_opacity {
  @extend %transition_opacity;

  &:hover {
    opacity: .5;
  }
}

// ------------------------------------------list
.grid_list {
  display: grid;
  grid-template-columns: repeat(5, $width_item_grid);
  grid-auto-rows: $height_item_grid;
  grid-gap: 2rem 2rem;

  width: 100%;

  a {
    display: block;

    color: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}
// ------------------------------------------list###

// ------------------------------------------item
.grid_item {
  position: relative;

  background-color: $item_grid_bg;

  @include size_full;
}

.grid_item--size_1_mod {
  grid-column-end: span 1;
  grid-row-end: span 1;
  
  padding: 1.4rem;

  .grid_item__img_wrap {
    display: none;
  }
}

.grid_item--size_2_mod {
  grid-column-end: span 2;
  grid-row-end: span 2;
  
  padding: 1.4rem 2.2rem;

  .grid_item__content--content_1_mod {
    .grid_item__header {
      margin-bottom: 3.2rem;
    }
    .grid_item__title {
      margin-bottom: 5.2rem;
    }
  }
}

.grid_item--size_3_mod {
  grid-column-end: span 3;
  grid-row-end: span 2;

  padding: 1.4rem 2.2rem;
}

.grid_item--size_r_mod {
  grid-column-end: span 2;
  grid-row-end: span 1;

  &:not(&.grid_item--picture_mod) {
    padding: 1.4rem 2rem;
  }

  &.grid_item--picture_mod {
    display: flex;

    .grid_item__img_wrap {
      margin-right: 2rem;

      @include img_wrapper_style;
    }

    .grid_item__content_wrapper {
      padding: 1.4rem 1.4rem 1.4rem 0;
    }
  }
}

.grid_item--size_c_mod {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

.grid_item--size_c_mod:not(.grid_item--picture_mod) {
  padding: 1.4rem 2rem;
}

.grid_item--size_c_mod.grid_item--picture_mod {
  display: block;

  .grid_item__img_wrap {
    margin-bottom: 2rem;

    @include img_wrapper_style;
  }
  .grid_item__content_wrapper {
    height: $height_item_grid;
    padding: 0 1.4rem 1.4rem;
  }
}
// ------------------------------------------item###

// ------------------------------------------picture
.grid_item__img_wrap {
  .grid_item__link,
  .picture_wrap, 
  .picture {
    display: block;

    @include size_full;
  }

  &.grid_item__img_wrap--img_bg_mod {
    position: absolute;
    top: 0;
    left: 0;

    @include size_full;
  }
}
// ------------------------------------------picture###

// ------------------------------------------content
.grid_item__content {
  position: relative;
  
  padding-bottom: 2.6rem;
  
  @include size_full;
}

.grid_item__content--img_bg_mod {
  color: $white;
}

.grid_item__content_in {
  overflow: hidden;
}

.grid_item__icon_tagging_w {
  width: 7px;
  height: 15px;
  margin-left: auto;
}

.icon_tagging {
  @include size_full;
}

.grid_item__content--content_1_mod {

  .grid_item__content_in {
    @include size_full;
  }

  .grid_item__author,
  .grid_item__date_wrap {
    color: $color_text_light;
  }

  .grid_item__date_wrap {  
    @include position_abs_bottom;
  }
  
  .grid_item__tag_link--color_1_mod { color: $t_clr1 }
  .grid_item__tag_link--color_2_mod { color: $t_clr2 }
  .grid_item__tag_link--color_3_mod { color: $t_clr3 }
  .grid_item__tag_link--color_4_mod { color: $t_clr4 }
  .grid_item__tag_link--color_5_mod { color: $t_clr5 }
  .grid_item__tag_link--color_6_mod { color: $t_clr6 }
  .grid_item__tag_link--color_7_mod { color: $t_clr7 }
  .grid_item__tag_link--color_8_mod { color: $t_clr8 }
}

.grid_item__content--content_2_mod {
  position: relative;
}

.grid_item__content--content_2_mod,
.grid_item__content--content_3_mod {

  .grid_item__content_in {
    @include position_abs_bottom;
  }

  .grid_item__tag_link {
    @include tag_link_bg;
  }

  .grid_item__title {
    max-height: 10.8rem;
    
    text-transform: uppercase;
    color: $white;
    overflow: hidden;
  }

  .grid_item__descr {
    max-height: 22rem;
    
    color: $white;
    overflow: hidden;
  }

  .grid_item__author,
  .grid_item__date_wrap {
    color: $white;
  }
}
// ------------------------------------------content###

// ------------------------------------------item header
.grid_item__header {
  margin-bottom: 1.2rem;
}

.grid_item__tag_link {
  @include hover_transition_opacity;
}

//- mod
.grid_item__header--item_head_row_mod {
  display: flex;

  .grid_item__author {
    margin-left: auto;
  }
}

//- mod
.grid_item__header--item_head_col_mod {
  .grid_item__tag_link {  
    margin-bottom: 1rem;
  }

  .grid_item__author {
    width: min-content;
    line-height: 1.8rem;
  }
}

// ------------------------------------------item header###

// ------------------------------------------item title
.grid_item__title {
  @include hover_transition_opacity;

  margin-bottom: 2rem;
}

.grid_item__title--font_size_1_mod {
  @extend %title_font_1;
}

.grid_item__title--font_size_1L_mod {
  @extend %title_font_1L;
}

.grid_item__title--font_size_2_mod {
  @extend %title_font_2;
}

.grid_item__title--font_size_3_mod {
  @extend %title_font_3;
}

.grid_item__descr {
  line-height: 1.8rem;
}
// ------------------------------------------item title###

// ------------------------------------------item__description
.grid_item__descr {
  margin-bottom: 2rem;
}
// ------------------------------------------item__description###

// ------------------------------------------item date
.grid_item__date_wrap {  
  display: flex;
  
  width: 100%;
}

.grid_item__time {
  margin-left: auto;
}
// ------------------------------------------item date###

// ------------------------------------------item video mod
.grid_item__img_wrap--video2_mod {
  position: relative;
}

.grid_item__video_btn_w--video2_mod {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid_item__video_btn--video2_mod {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4.4rem;
  height: 4.4rem;

  border-radius: 50%;
  border: 1px solid $white;
  background-color: $white;

  -webkit-box-shadow: 0px 2px 14px 0px #000000bf;
  -moz-box-shadow: 0px 2px 14px 0px #000000bf;
  box-shadow: 0px 2px 14px 0px #000000bf;

  transform: translate(-50%, -50%);

  cursor: pointer;

  &:hover {

    -webkit-box-shadow: 0px 0px 0px 0px #000000bf;
    -moz-box-shadow: 0px 0px 0px 0px #000000bf;
    box-shadow: 0px 0px 0px 0px #000000bf;

    &:before {
      border-left-color: #0000009d;
    }
  }

  &:before {
		@include triangle_narrow(right, $black, 1.4rem);
		
    content: '';
		position: absolute;
		right: 0;
		top: 50%;

    transform: translate(-24%, -50%);

    @extend %transition_all;
	}

  @extend %transition_all;
}
// ------------------------------------------item video mod###

// ------------------------------------------accent
.grid_item--accent1_mod {
  
}
// ------------------------------------------accent###
