.grid_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 24rem;

  $m_indent: calc(var(--gl-indent) - (2 * var(--gl-indent)));
  margin: 0 -1.6rem;
}

.item_grid {
  padding: 0 1rem 2rem;
  // overflow: hidden;
}

.item_grid_wrap {
  width: 100%;
  height: 100%;
  padding: 1.4rem 1.2rem;
  background-color: white;
}

.item_grid_in {
  position: relative;

  width: 100%;
  height: 100%;
  
  overflow: hidden;
}

.item_grid--position_1_mod {
  grid-column-end: span 3;
  grid-row-end: span 2;
}

.item_grid--position_2_mod {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.item_grid--position_row_mod {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

.item_grid--position_col_mod {
  grid-column-end: span 1;
  grid-row-end: span 2;
}

