$width_item_grid: ($page_width - (2rem * 4)) / 5;
$height_item_grid: 24rem;
$gap_row: 2rem;
$gap_col: 2rem;

// ------------------------------------------list
.grid_list {
  display: grid;
  grid-auto-rows: $height_item_grid;
  grid-gap: $gap_row $gap_col;

  width: 100%;

  margin: 0 auto 6.4rem;
  
  /* ----------- 1200px + ----------- */
  @include bp($point_1 - 1, min) {
    grid-template-columns: repeat(5, $width_item_grid);
  }

  /* ----------- 1200px - 1024px ----------- */
  @include bp($point_1, $point_2) {
    grid-template-columns: repeat(4, $width_item_grid);
 
    [data-item-number="3"],
    [data-item-number="5"],
    [data-item-number="9"],
    [data-item-number="12"] {
      grid-row-start: 5;
    }  
  }

  /* ----------- 1024px - 768px ----------- */
  @include bp($point_3, $point_4 - 1) {
    grid-template-columns: repeat(3, $width_item_grid);

    [data-item-number="12"] {
      grid-row-start: 3;
    }
  }
  
  /* ----------- 768px - 480px ----------- */
  @include bp($point_4, $point_6 - 1) {
    grid-template-columns: repeat(2, $width_item_grid);

    [data-item-number="1"] {
      grid-row-end: span 2;
      grid-column-end: span 2;
    }
  }
  
  /* ----------- 0 - 480px ----------- */
  @include bp($point_6) {
    display: block;
  }
}
// ------------------------------------------list###

// ------------------------------------------helper block
.helper_block {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  
  padding: 4px 10px;
  
  font-size: 2rem;
  color: #fff;
  
  border: 3px solid $white;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.5);
  
  &.accent {
    background: rgb(255, 0, 0);
  }
}
// ------------------------------------------helper block###
