// ------------------------------------------item
.grid_item--look_col_1_mod,
.grid_item--look_col_2_mod,
.grid_item--look_col_3_mod {
  grid-column-end: span 1;
  grid-row-end: span 2;
}
// ------------------------------------------item###

// ------------------------------------------picture
.grid_item__image_wrap--look_col_1_mod {
  @include img_wrapper_style;
}
// ------------------------------------------picture###

// ------------------------------------------content
.grid_item__content_wrap--look_col_1_mod {
  padding: 1.8rem 1.4rem 1.4rem;

  width: 100%;
  height: calc($height_item_grid + $gap_row);
}

.grid_item__content_wrap--look_col_2_mod,
.grid_item__content_wrap--look_col_3_mod {
  padding: 1.4rem;

  @include size_full;
}

.grid_item__content--look_col_1_mod, 
.grid_item__content--look_col_2_mod, 
.grid_item__content--look_col_3_mod { 
  position: relative;

  padding-bottom: 3rem;

  @include size_full;
}

.grid_item__content_in--look_col_1_mod,
.grid_item__content_in--look_col_2_mod,
.grid_item__content_in--look_col_3_mod {
  overflow: hidden;

  @include size_full;
}
// ------------------------------------------content###

// ------------------------------------------item header
// ------------------------------------------item header###

// ------------------------------------------item title
.grid_item__title--look_col_3_mod  {
  margin-bottom: 2rem;
}
// ------------------------------------------item title###

// ------------------------------------------item__description
// ------------------------------------------item__description###

// ------------------------------------------item date
.grid_item__date_wrap--look_col_1_mod,  
.grid_item__date_wrap--look_col_2_mod, 
.grid_item__date_wrap--look_col_3_mod {  
  @include position_abs_bottom;

  display: flex;
  
  width: 100%;
}
// ------------------------------------------item date###

// ------------------------------------------resize
@mixin resize_style_1 {
  display: flex;
  
  .grid_item__content {
    padding-bottom: 2.2rem;
  }
   
  .grid_item__content_wrap {
    height: $height_item_grid;
  }
}

.grid_item--resize_col_to_row {
  @include bp($point_1, $point_2) {
    @include resize_style_1;
  }

  @include bp($point_4, $point_6 - 1) {
    @include resize_style_1;
  }

  @include bp($point_6) {
    @include grid_item_block_height_auto;  
    @include height_auto_content_pic_img;
  }
}

.grid_item--resize_col_to_big {
  @include bp($point_1, $point_2) {
    .grid_item__image_wrap,
    .grid_item__content_wrap {
      height: 100%;
    }

    .grid_item__title {
      margin-bottom: 2rem;

      @include title_font_size_2;
    }
  }

  @include bp($point_6) {
    @include grid_item_block_height_auto;  
    @include height_auto_content_pic_img;
  }
}
// ------------------------------------------resize###

