// ------------------------------------------item
.grid_item--look_2_1_mod,
.grid_item--look_2_2_mod,
.grid_item--look_2_3_mod,
.grid_item--look_2_4_mod {
  grid-column-end: span 2;
  grid-row-end: span 2;

  
@include bp($point_6) { // 0 - 480px 
  display: block;

  .grid_item {
    margin-bottom: 2rem;
  }
  
  .grid_item--look_2_1_mod,
  .grid_item--look_2_2_mod,
  .grid_item--look_2_3_mod,
  .grid_item--look_2_4_mod {
    height: 55rem;
  }
}
}
// ------------------------------------------item###

// ------------------------------------------content
.grid_item__content_wrap--look_2_1_mod,
.grid_item__content_wrap--look_2_2_mod,
.grid_item__content_wrap--look_2_3_mod,
.grid_item__content_wrap--look_2_4_mod {
  padding: 1.4rem 2.2rem;

  @include size_full;
}

.grid_item__content--look_2_1_mod, 
.grid_item__content--look_2_2_mod, 
.grid_item__content--look_2_3_mod, 
.grid_item__content--look_2_4_mod { 
  position: relative;

  padding-bottom: 3rem;

  @include size_full;
}

.grid_item__content_in--look_2_1_mod,
.grid_item__content_in--look_2_2_mod {
  @extend %global_flex_block_column_wrap_flex-end;
  
  overflow: hidden;

  @include size_full;
}

.grid_item__content_in--look_2_3_mod,
.grid_item__content_in--look_2_4_mod {
  overflow: hidden;

  @include size_full;
}
// ------------------------------------------content###

// ------------------------------------------item header
.grid_item__header--look_2_1_mod,
.grid_item__header--look_2_2_mod {
  width: 100%;
  align-items: center;
  
  color: $white;
}

.grid_item__header--look_2_3_mod,
.grid_item__header--look_2_4_mod {
  margin-bottom: 3rem;
}

.grid_item__tag_link--look_2_1_mod,
.grid_item__tag_link--look_2_2_mod {
  @include tag_bg;
}

.grid_item--look_2_1_mod,
.grid_item--look_2_2_mod {
  .grid_item__header--row_mod {
    width: 100%;
  }
}
// ------------------------------------------item header###

// ------------------------------------------item title
.grid_item__title--look_2_1_mod,
.grid_item__title--look_2_2_mod {
  margin-bottom: 2rem;

  color: $white;
}

.grid_item__title--look_2_3_mod {
  margin-bottom: 3rem;
}

.grid_item__title--look_2_4_mod {
  margin-bottom: 3rem;

  @include bp($point_1, $point_2) {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
}
// ------------------------------------------item title###

// ------------------------------------------item__description
.grid_item__descr--look_2_1_mod {
  color: $white;
}
// ------------------------------------------item__description###

// ------------------------------------------item date
.grid_item__date_wrap--look_2_1_mod,  
.grid_item__date_wrap--look_2_2_mod, 
.grid_item__date_wrap--look_2_4_mod {  
  @include position_abs_bottom;

  display: flex;

  width: 100%;
  
  color: $white;
}

.grid_item__date_wrap--look_2_3_mod {  
  @include position_abs_bottom;

  display: flex;

  width: 100%;
}
// ------------------------------------------item date###

// ------------------------------------------resize
// ------------------------------------------resize###

