// ------------------------------------------item
.grid_item--look_3_1_mod,
.grid_item--look_3_2_mod,
.grid_item--look_3_3_mod,
.grid_item--look_3_4_mod {
  grid-column-end: span 3;
  grid-row-end: span 2;

  @include bp($point_3, $point_4 - 1) {
    grid-row-end: span 2;
    grid-column-end: span 2;
  }
}
// ------------------------------------------item###

// ------------------------------------------content
// wrap
.grid_item__content_wrap--look_3_1_mod,
.grid_item__content_wrap--look_3_2_mod {
  padding: 2.2rem 2.2rem 1.4rem;

  @include size_full;
}

.grid_item__content_wrap--look_3_3_mod,
.grid_item__content_wrap--look_3_4_mod {
  padding: 1.4rem 2.2rem;

  @include size_full;
}

// content
.grid_item__content--look_3_1_mod,  
.grid_item__content--look_3_2_mod {
  @extend %global_flex_block_column_nowrap_flex-end;

  position: relative;

  padding-bottom: 3rem;

  @include size_full;
}

.grid_item__content--look_3_3_mod,  
.grid_item__content--look_3_4_mod {  
  position: relative;

  padding-bottom: 4rem;

  @include size_full;
}

// content in
.grid_item__content_in--look_3_1_mod,
.grid_item__content_in--look_3_2_mod {
  overflow: hidden;

  width: 100%;
}
.grid_item__content_in--look_3_3_mod,
.grid_item__content_in--look_3_4_mod {
  overflow: hidden;

  @include size_full;
}
// ------------------------------------------content###

// ------------------------------------------picture

// ------------------------------------------picture###

// ------------------------------------------item header
.grid_item__header--look_3_1_mod,
.grid_item__header--look_3_2_mod {
  color: $white;
}

.grid_item__tag_link--look_3_1_mod,
.grid_item__tag_link--look_3_2_mod {
  color: $white;
}

.grid_item__header--look_3_3_mod,
.grid_item__header--look_3_4_mod {
  margin-bottom: 3rem;
}

.grid_item__tag_link--look_3_1_mod,
.grid_item__tag_link--look_3_2_mod {
  @include tag_bg;
}
// ------------------------------------------item header###

// ------------------------------------------item title
.grid_item__title--look_3_1_mod,
.grid_item__title--look_3_2_mod {
  margin-bottom: 2rem;

  text-transform: uppercase;

  color: $white;
}

.grid_item__title--look_3_3_mod {
  margin-bottom: 3rem;
}
// ------------------------------------------item title###

// ------------------------------------------item__description
.grid_item__descr--look_3_1_mod,
.grid_item__descr--look_3_2_mod {
  margin-bottom: 2rem;

  color: $white;
}
// ------------------------------------------item__description###

// ------------------------------------------item date  
.grid_item__date_wrap--look_3_1_mod,
.grid_item__date_wrap--look_3_2_mod {
  color: $white;
}

.grid_item__date_wrap--look_3_1_mod,
.grid_item__date_wrap--look_3_2_mod,
.grid_item__date_wrap--look_3_3_mod,  
.grid_item__date_wrap--look_3_4_mod {  
  @include position_abs_bottom;

  display: flex;
  
  width: 100%;
}
// ------------------------------------------item date###

// ------------------------------------------resize
// ------------------------------------------resize###
