// ------------------------------------------item
// ------------------------------------------item###

// ------------------------------------------content
.grid_item__content_wrap--look_1_1_mod {
  padding: 1.4rem 1.4rem;

  @include size_full;
}

.grid_item__content--look_1_1_mod {  
  position: relative;

  padding-bottom: 3rem;

  @include size_full;
}

.grid_item__content_in--look_1_1_mod {
  overflow: hidden;

  @include size_full;
}
// ------------------------------------------content###

// ------------------------------------------picture
.grid_item__image_wrap--look_1_1_mod {
  display: none;
}
// ------------------------------------------picture###

// ------------------------------------------item header

// ------------------------------------------item header###

// ------------------------------------------item title
.grid_item__title--look_1_1_mod {
  margin-bottom: 2rem;
}
// ------------------------------------------item title###

// ------------------------------------------item__description
.grid_item__descr--look_1_1_mod {
  display: none;
}
// ------------------------------------------item__description###

// ------------------------------------------item date
.grid_item__date_wrap--look_1_1_mod {  
  @include position_abs_bottom;

  display: flex;
  
  width: 100%;
}
// ------------------------------------------item date###

// ------------------------------------------resize
@mixin title_font_size_2 {
  font-size: 2.2rem;
  line-height: 2.8rem;
}

.grid_item--resize_min_to_row {
  @include bp($point_1, $point_2) {
    .grid_item__title  {
      @include title_font_size_2;
    }
  }

  @include bp($point_6) {
    @include grid_item_block_height_auto;  
    @include height_auto_content_pic_img;
  }  
}

.grid_item--resize_min_to_col {
  @include bp($point_3, $point_4 - 1) {
    .grid_item__title  {
      @include title_font_size_2;
    }
  }

  @include bp($point_6) {
    @include grid_item_block_height_auto;  
    @include height_auto_content_pic_img;
  }
}
// ------------------------------------------resize###

// ------------------------------------------resize
.grid_item--look_1_1_mod  {
  @include bp($point_6) {
    // @include grid_item_block;
  }
}
// ------------------------------------------resize###


