// ------------------------------------------item
.grid_item--look_row_1_mod,
.grid_item--look_row_2_mod,
.grid_item--look_row_3_mod {
  grid-column-end: span 2;
  grid-row-end: span 1;

  @include bp($point_6) { // 0 - 480px 
    @include grid_item_block_height_auto;  
    @include height_auto_content_pic_img;
  }
}

.grid_item--look_row_1_mod {
  @include bp($point_4 - 1, min) { // max - 768px 
    display: flex;
  }

  @include bp($point_4) { // 0 - 768px 
    display: block;
  }
}
// ------------------------------------------item###

// ------------------------------------------picture
.grid_item__image_wrap--look_row_1_mod {
  @include img_wrapper_style;
}
// ------------------------------------------picture###

// ------------------------------------------content
.grid_item__content_wrap--look_row_1_mod {
  padding: 1.4rem 1.4rem 1.4rem 2rem;

  @include size_full;
}

.grid_item__content_wrap--look_row_2_mod,
.grid_item__content_wrap--look_row_3_mod {
  padding: 1.4rem;

  @include size_full;
}

.grid_item__content--look_row_1_mod, 
.grid_item__content--look_row_2_mod, 
.grid_item__content--look_row_3_mod { 
  position: relative;

  padding-bottom: 3rem;

  @include size_full;
}

.grid_item__content_in--look_row_1_mod,
.grid_item__content_in--look_row_2_mod,
.grid_item__content_in--look_row_3_mod {
  overflow: hidden;

  @include size_full;
}
// ------------------------------------------content###


// ------------------------------------------item header
// ------------------------------------------item header###

// ------------------------------------------item title
.grid_item__title--look_row_3_mod  {
  margin-bottom: 2rem;
}
// ------------------------------------------item title###

// ------------------------------------------item__description
.grid_item__descr--look_row_1_mod {
  display: none;
}
// ------------------------------------------item__description###

// ------------------------------------------item date
.grid_item__date_wrap--look_row_1_mod,  
.grid_item__date_wrap--look_row_2_mod, 
.grid_item__date_wrap--look_row_3_mod {  
  @include position_abs_bottom;

  display: flex;
  
  width: 100%;
}
// ------------------------------------------item date###

// ------------------------------------------resize
.grid_item--resize_row_to_col {
  @include bp($point_3, $point_4 - 1) {
    display: block;

    .grid_item__image_wrap {
      @include img_wrapper_style;
    }

    .grid_item__content_wrap.grid_item__content_wrap--picture_mod {
      height: 26rem;
    }

  }
}
// ------------------------------------------resize###


