// ------------------------------------------mixins
@mixin size_full {
  width: 100%;
  height: 100%;
}
// ------------------------------------------mixins###

// ------------------------------------------item
.v2_grid_item {
  position: relative;

  padding: 1.4rem;
  
  background: $item_grid_bg;

  &.v2_grid_item--size_11_mod {
    grid-row-end: span 1;
    grid-column-end: span 1; 
  }

  &.v2_grid_item--size_21_mod {
    grid-row-end: span 1;
    grid-column-end: span 2; 
  }

  &.v2_grid_item--size_12_mod {
    grid-row-end: span 2;
    grid-column-end: span 1; 
  }

  &.v2_grid_item--size_22_mod {
    grid-row-end: span 2;
    grid-column-end: span 2; 
  }

  &.v2_grid_item--size_32_mod {
    grid-row-end: span 2;
    grid-column-end: span 3; 
  }

  @include bp($point_6 - 1) {
    margin-bottom: 1.2rem;
  }
}

.v2_grid_item_in {
  overflow: hidden;

  @include size_full;

  .v2_grid_item--size_12_mod &.v2_grid_item--style_3_mod,
  .v2_grid_item--size_12_mod &.v2_grid_item--style_4_mod {
    @extend %global_flex_block_column_nowrap_flex-start;

    padding-top: calc($height_item_grid + .6rem);
  }

  .v2_grid_item--size_21_mod &.v2_grid_item--style_3_mod,
  .v2_grid_item--size_21_mod &.v2_grid_item--style_4_mod {
    padding-left: calc(50% + $gap_col / 2);
  }
}
// ------------------------------------------item###

// ------------------------------------------picture
.v2_grid_item__picture {
  display: none;

  .cover_img {
    @extend %cover_img;
  }

  // column
  .v2_grid_item--size_12_mod .v2_grid_item--style_3_mod &,
  .v2_grid_item--size_12_mod .v2_grid_item--style_4_mod & {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: block;
    width: 100%;
    height: $height_item_grid;
  }

  // row
  .v2_grid_item--size_21_mod .v2_grid_item--style_3_mod &,
  .v2_grid_item--size_21_mod .v2_grid_item--style_4_mod & {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: block;
    width: calc(50% - $gap_col / 2);
    height: $height_item_grid;
  }

  // size 2x2
  .v2_grid_item--size_22_mod .v2_grid_item--style_3_mod &,
  .v2_grid_item--size_22_mod .v2_grid_item--style_4_mod & {
    @extend %stretch;
    
    display: block;
  }

  // size 3x2
  .v2_grid_item--size_32_mod .v2_grid_item--style_3_mod & {
    @extend %stretch;
    display: block;
  }

  .v2_grid_item--size_32_mod .v2_grid_item--style_4_mod & {
    @extend %stretch;
    display: block;
  }

  // style a1
  .v2_grid_item--style_banner_mod &,
  .v2_grid_item--style_a1_mod & {
    @extend %stretch;
    
    display: block;
  }

  .v2_grid_item--style_banner_mod & {
    .cover_img { object-position: center center }

    .v2_grid_item--size_21_mod &  {
      .cover_img { object-position: center right }
    }
  }
}
// ------------------------------------------picture###

// ------------------------------------------content
.v2_grid_item__content {
  position: relative;

  // display: inline-flex;

  overflow: hidden;

  @include size_full;

  .v2_grid_item--size_22_mod .v2_grid_item--style_3_mod &,
  .v2_grid_item--size_22_mod .v2_grid_item--style_4_mod &,
  .v2_grid_item--size_32_mod .v2_grid_item--style_3_mod &,
  .v2_grid_item--size_32_mod .v2_grid_item--style_4_mod & {
    display: inline-flex;
  }
}

.v2_grid_item__content_in {
  margin-top: auto;
  margin-bottom: 3rem;

  // style a1
  .v2_grid_item--style_a1_mod & {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-end;

    width: fit-content;
    height: 100%;
    margin-left: auto;
    margin-bottom: 0;
    
    overflow: hidden;
  }

  .v2_grid_item--size_11_mod .v2_grid_item--style_a1_mod &,
  .v2_grid_item--size_12_mod .v2_grid_item--style_a1_mod & {
    margin: 0 auto;
  }
}
// ------------------------------------------content###

// ------------------------------------------item header
.v2_grid_item__header {
  margin-bottom: 1.2rem;

  color: $color_text_light;

  .v2_grid_item--item_h_col_mod & {
    @extend %global_flex_block_column_wrap_flex-start;
  }

  .v2_grid_item--item_h_row_mod & {
    @extend %global_flex_block_row_wrap_flex-start;
  }

  .v2_grid_item--size_22_mod .v2_grid_item--style_3_mod &,
  .v2_grid_item--size_22_mod .v2_grid_item--style_4_mod &,
  .v2_grid_item--size_32_mod .v2_grid_item--style_3_mod &,
  .v2_grid_item--size_32_mod .v2_grid_item--style_4_mod & {
    color: $white;
  }

  // style a1
  .v2_grid_item--style_banner_mod &,
  .v2_grid_item--style_a1_mod & {
   margin-bottom: 0;
  }
}
// ------------------------------------------item header###

// ------------------------------------------tag
.v2_grid_item__link_tag {
  @include font_style(1.2rem, 500, 1.4rem);

  border-bottom: 1px solid transparent;

  .v2_grid_item--item_h_row_mod & {
    margin-right: var(--gl-indent);
  }

  .v2_grid_item--item_h_col_mod & {
    margin-bottom: 1.4rem;
  }

  .v2_grid_item--color_0_mod & { color: $color_text_light; &:hover { border-bottom: 1px solid $color_text_light } }
  .v2_grid_item--color_1_mod & { color: $t_clr1; &:hover { border-bottom: 1px solid $t_clr1 } }
  .v2_grid_item--color_2_mod & { color: $t_clr2; &:hover { border-bottom: 1px solid $t_clr2 } }
  .v2_grid_item--color_3_mod & { color: $t_clr3; &:hover { border-bottom: 1px solid $t_clr3 } }
  .v2_grid_item--color_4_mod & { color: $t_clr4; &:hover { border-bottom: 1px solid $t_clr4 } }
  .v2_grid_item--color_5_mod & { color: $t_clr5; &:hover { border-bottom: 1px solid $t_clr5 } }
  .v2_grid_item--color_6_mod & { color: $t_clr6; &:hover { border-bottom: 1px solid $t_clr6 } }
  .v2_grid_item--color_7_mod & { color: $t_clr7; &:hover { border-bottom: 1px solid $t_clr7 } }
  .v2_grid_item--color_8_mod & { color: $t_clr8; &:hover { border-bottom: 1px solid $t_clr8 } }

  .v2_grid_item--size_22_mod .v2_grid_item--style_3_mod &,
  .v2_grid_item--size_22_mod .v2_grid_item--style_4_mod &,
  .v2_grid_item--size_32_mod .v2_grid_item--style_3_mod &,
  .v2_grid_item--size_32_mod .v2_grid_item--style_4_mod & {
    color: $white;
  }

  .v2_grid_item--size_32_mod .v2_grid_item--style_3_mod &,
  .v2_grid_item--size_32_mod .v2_grid_item--style_4_mod & {
    padding: .5rem 1rem;
    background-color: $t_clr1;
  }

  // style a1
  .v2_grid_item--style_a1_mod & {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    color: $white;
    text-transform: uppercase;

    &:hover { border-bottom: 1px solid $white; } 
  }

  // style banner
  .v2_grid_item--style_banner_mod & {
    margin-left: auto;
    margin-bottom: 0;

    color: $white;
    text-transform: uppercase;
  }
}

.v2_grid_item__icon_tag_wrap {
  display: block;
  width: 7px;
  height: 15px;
  margin-left: auto;
  color: $color_text_light;

  .v2_grid_item--style_banner_mod & {
    display: none;
  }
}
// ------------------------------------------tag###

// ------------------------------------------author
.v2_grid_item__link_author {
  @extend %transition_opacity;

  color: inherit;
  
  @include font_style(1.2rem, 500, 1.4rem);

  &:hover { opacity: .6 }

  span { font-weight: 400 }

  .v2_grid_item--item_h_row_mod & {
    display: block;
    margin-left: auto;
  }

  &:not(
  .v2_grid_item--size_32_mod .v2_grid_item--style_3_mod &, 
  .v2_grid_item--size_32_mod .v2_grid_item--style_4_mod &,
  .v2_grid_item--item_h_row_mod &) {
    width: min-content;
  }

  // style a1
  .v2_grid_item--style_banner_mod &,
  .v2_grid_item--style_a1_mod & {
    display: none;
  }
}
// ------------------------------------------author###

// ------------------------------------------item title
@mixin text_overflow($line_clamp) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line_clamp;
  -webkit-box-orient: vertical;
}

.v2_grid_item__title {
  .v2_grid_item--style_2_mod & {
    margin-bottom: 1.4rem;
  }

  // style a1
  .v2_grid_item--style_a1_mod & {
    text-align: center;
    overflow: hidden;
    color: $white;
  }

  .v2_grid_item--size_32_mod .v2_grid_item--style_a1_mod & {
    width: 36rem;
    height: 31.7rem;
    margin-bottom: 2rem;
  }

  .v2_grid_item--size_22_mod .v2_grid_item--style_a1_mod & {    
    width: 29rem;
    height: 30.92rem;
    margin-bottom: 2rem;
  }

  .v2_grid_item--size_12_mod .v2_grid_item--style_a1_mod & {    
    width: 100%;
    height: 29.5rem;
    margin-bottom: 2rem;
  }

  .v2_grid_item--size_21_mod .v2_grid_item--style_a1_mod & {    
    width: 22rem;
    height: 11.8rem;
    margin-bottom: 2rem;
  }

  .v2_grid_item--size_11_mod .v2_grid_item--style_a1_mod & {    
    width: 100%;
    height: 11rem;
    margin-bottom: 2rem;
  }

  .v2_grid_item--style_banner_mod & {
    display: none;
  }
}

.v2_grid_item__link_title {
  @extend %transition_opacity;

  margin-bottom: 1rem;

  color: $color_text_base;

  &:hover { opacity: .6 }

  // size 1x1
  .v2_grid_item--size_11_mod .v2_grid_item--style_1_mod & {
    @include text_overflow(6);
    @include font_style(1.6rem, 500, 2rem);
  }
   
  // column 1x2
  .v2_grid_item--size_12_mod .v2_grid_item--style_1_mod & {
    @include text_overflow(14);
    @include font_style(2.2rem, 500, 2.7rem);
  }

  .v2_grid_item--size_12_mod .v2_grid_item--style_2_mod & {
    @include text_overflow(10);
    @include font_style(1.6rem, 500, 2rem);
  }

  .v2_grid_item--size_12_mod .v2_grid_item--style_3_mod & {
    @include text_overflow(6);
    @include font_style(1.6rem, 500, 2rem);
  }

  .v2_grid_item--size_12_mod .v2_grid_item--style_4_mod & {
    @include text_overflow(6);
    @include font_style(1.6rem, 500, 2rem);
  }

  // row 2x1
  .v2_grid_item--size_21_mod .v2_grid_item--style_1_mod & {
    @include text_overflow(6);
    @include font_style(2.2rem, 500, 2.7rem);
  }
  
  .v2_grid_item--size_21_mod .v2_grid_item--style_2_mod & {
    @include text_overflow(4);
    @include font_style(1.6rem, 500, 2rem);
  }
  
  .v2_grid_item--size_21_mod .v2_grid_item--style_3_mod & {
    @include text_overflow(6);
    @include font_style(1.6rem, 500, 2rem);
  }
  
  .v2_grid_item--size_21_mod .v2_grid_item--style_4_mod & {
    @include text_overflow(6);
    @include font_style(1.6rem, 500, 2rem);
  }

  // size 2x2
  .v2_grid_item--size_22_mod .v2_grid_item--style_1_mod & {
    @include text_overflow(10);
    @include font_style(3.6rem, 500, 4rem);
  }

  .v2_grid_item--size_22_mod .v2_grid_item--style_2_mod & {
    @include text_overflow(6);
    @include font_style(3.6rem, 500, 4rem);
  }

  .v2_grid_item--size_22_mod .v2_grid_item--style_3_mod & {
    color: $white;

    @include text_overflow(15);
    @include font_style(2.2rem, 500, 2.7rem);
  }

  .v2_grid_item--size_22_mod .v2_grid_item--style_4_mod & {
    margin-bottom: 1.4rem;

    color: $white;

    @include text_overflow(10);
    @include font_style(1.6rem, 500, 2rem);
  }

  // size 3x2
  .v2_grid_item--size_32_mod .v2_grid_item--style_1_mod & {
    @include text_overflow(9);
    @include font_style(3.6rem, 500, 4rem);
  }

  .v2_grid_item--size_32_mod .v2_grid_item--style_2_mod & {
    @include text_overflow(7);
    @include font_style(3.6rem, 500, 4rem);
  }

  .v2_grid_item--size_32_mod .v2_grid_item--style_3_mod & {
    color: $white;
    text-transform: uppercase;

    @include text_overflow(18);
    @include font_style(1.6rem, 500, 2rem);
  }

  .v2_grid_item--size_32_mod .v2_grid_item--style_4_mod & {
    margin-bottom: 1.4rem;

    color: $white;
    text-transform: uppercase;

    @include text_overflow(10);
    @include font_style(1.6rem, 500, 2rem);
  }

  // style a1
  // TODO: size 22, 32 a1-style
  .v2_grid_item--style_a1_mod & {
    text-transform: uppercase;
    white-space: break-spaces;
    
    background: $white;

    strong { color: $color_accent }
  }

  .v2_grid_item--size_32_mod .v2_grid_item--style_a1_mod & {
    max-height: 37rem;
    i { max-width: 40rem }
    @include font_style(3.2rem, 500, 3.2rem);
  }

  .v2_grid_item--size_22_mod .v2_grid_item--style_a1_mod & {
    max-height: 36rem;
    i { max-width: 30rem }
    @include font_style(2.6rem, 500, 2.6rem);
  }

  .v2_grid_item--size_21_mod .v2_grid_item--style_a1_mod & {
    max-height: 13rem;
    i { max-width: 28rem }
    @include font_style(2rem, 500, 2rem);
  }

  .v2_grid_item--size_11_mod .v2_grid_item--style_a1_mod & {
    max-height: 12rem;
    i { max-width: 15rem }
    @include font_style(1.8rem, 500, 1.8rem);
  }

  // word
  .v2_grid_item--size_12_mod .v2_grid_item--style_a1_mod & {
    max-height: 32rem;
    i { max-width: 15rem }
    @include font_style(1.8rem, 500, 1.8rem);
  }

  .v2_grid_item--size_11_mod .v2_grid_item--style_a1_mod & .word {   
    @include font_style(1.8rem, 500, 1.8rem);
  }

  .v2_grid_item--size_21_mod .v2_grid_item--style_a1_mod & .word {   
    @include font_style(2rem, 500, 2rem);
  }

  .v2_grid_item--size_12_mod .v2_grid_item--style_a1_mod & .word {   
    @include font_style(1.8rem, 500, 1.8rem);
  }

  .v2_grid_item--size_22_mod .v2_grid_item--style_a1_mod & .word {   
    @include font_style(2.8rem, 500, 2.8rem);
  }

  .v2_grid_item--size_32_mod .v2_grid_item--style_a1_mod & .word {
    @include font_style(3.2rem, 500, 3.2rem);
  }
}

.v2_grid_item__link_titled_author {
  @extend %transition_color_background;

  display: none;
  width: max-content;
  padding: 4px 8px;
  margin: 0 auto;

  color: $white;
  white-space: nowrap;
  border: 1px solid $white;

  .v2_grid_item--style_a1_mod & {
    display: block;
  }

  &:hover {
    color: $color_text_base;
    background-color: $white;
  }
}
// ------------------------------------------item title###

// ------------------------------------------description
.v2_grid_item__descr {
  @extend %transition_opacity;

  display: none;
  
  color: $color_text_light;

  &:hover {
    opacity: .8;
  }

  @include font_style(1.2rem, 500, 1.8rem);

  // column
  .v2_grid_item--size_12_mod .v2_grid_item--style_2_mod & {
    @include text_overflow(9);
  }

  // row
  .v2_grid_item--size_21_mod .v2_grid_item--style_2_mod & {
    @include text_overflow(4);
  }  

  // size 2x2
  .v2_grid_item--size_22_mod .v2_grid_item--style_2_mod & {
    @include text_overflow(9);
  }

  .v2_grid_item--size_22_mod .v2_grid_item--style_4_mod & {
    color: $white;

    @include text_overflow(10);
  }

  // size 3x2
  .v2_grid_item--size_32_mod .v2_grid_item--style_2_mod & {
    @include text_overflow(7);
  }

  .v2_grid_item--size_32_mod .v2_grid_item--style_4_mod & {
    color: $white;
    
    @include text_overflow(10);
  }

  .v2_grid_item--style_banner_mod & { display: none }
}
// ------------------------------------------description###

// ------------------------------------------item date
.v2_grid_item__date_wrap {
  @extend %global_flex_block_row_wrap_flex-start;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 100%;

  color: $color_text_light;

  .v2_grid_item--size_22_mod .v2_grid_item--style_3_mod &,
  .v2_grid_item--size_22_mod .v2_grid_item--style_4_mod &,
  .v2_grid_item--size_32_mod .v2_grid_item--style_3_mod &,
  .v2_grid_item--size_32_mod .v2_grid_item--style_4_mod & {
    color: $white;
  }

  // style a1
  .v2_grid_item--style_banner_mod &,
  .v2_grid_item--style_a1_mod & { display: none }
}

.v2_grid_item__date {
  margin-right: var(--gl-indent);
  color: inherit;
}

.v2_grid_item__time {
  margin-left: auto;

  color: inherit;
}
// ------------------------------------------item date###

// ------------------------------------------button video
.v2_grid_item__link_video { 
  @extend %transition_all;	
  
  z-index: 10;
  
  display: none;

  color: $white;
  stroke: $white;

  &:hover {    
    .v2_grid_item--style_a1_mod &,
    .v2_grid_item--style_3_mod &, 
    .v2_grid_item--style_4_mod & {
      color: $color_accent;
      stroke: $color_accent;    
    }

    .v2_grid_item--style_banner_mod & {
      background-color: #000000b2;

      .v2_grid_item__link_video_icon_wrap {
        margin: auto;

        transform: scale(2, 2);
      }
    }
  }

  .v2_grid_item--style_banner_mod & {
    @extend %stretch;

    display: flex;
  }

  .v2_grid_item--style_a1_mod & {  
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    
    display: block;
  }

  .v2_grid_item--style_3_mod &, 
  .v2_grid_item--style_4_mod & {
    @extend %global_flex_block_row_wrap_center_center;
    @extend %stretch;
  }

  .v2_grid_item--size_12_mod .v2_grid_item--style_3_mod &, 
  .v2_grid_item--size_12_mod .v2_grid_item--style_4_mod & {
    width: 100%;
    height: $height_item_grid;
  }

  .v2_grid_item--size_21_mod .v2_grid_item--style_3_mod &, 
  .v2_grid_item--size_21_mod .v2_grid_item--style_4_mod & {
    width: calc(50% - $gap_col / 2);
    height: 100%;
  }

  .v2_grid_item__link_video_icon_wrap {
    @extend %transition_transform;

    .v2_grid_item--video_mod:not(.v2_grid_item--style_banner_mod):not(.v2_grid_item--style_a1_mod) & {
      width: 100%;
      height: 100%;

      .icon_video_watch { display: none }
    }

    .v2_grid_item--style_banner_mod &,
    .v2_grid_item--style_a1_mod & {
      display: block;
      width: 8rem;
      height: 2rem; 
      margin: auto 1.4rem 1.4rem auto;

      .icon_video_circle { display: none }
    }
  }
}
// ------------------------------------------button video###







// ------------------------------------------ TODO: HELPER BLOCK
li {
  position: relative;
}

.help_block {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 4px 8px;
  font-size: 14px;
  color: red;
  border: 1px solid #ff4747;
  background-color: #fcff47c4;
}
