mixin btn_video(item)
  if item.link
    -
      text_btn = item.accent_look && item.link.video ? 'Смотреть' : '';
      button = item.accent_look ? 'text_circle_btn' : item.link.video ? 'circle_btn' : '';
      href = item.link.video || item.link.text || '#';
          
    a.grid_item__dbl_link(class= `${button} ${button ? 'buttonVideo': 'grid_item__dbl_link--over_img_mod'}` href= href)= text_btn
      if button
          if item.accent_look
            span.grid_item__icon_video_small_wrap
              +icon('icon-video-small')
          else 
            span.grid_item__icon_video_wrap
              +icon('icon-video')