mixin header()
	header.header
		.section_in.header_in
			a.header__logo_link.header__logo_link--mobile_mod(href= '#')
				img.header__logo_img(src="images/logo_header.svg", alt="logo")

			nav.header__menu
				+menu({
					gl_class: 'header__menu',
					items: [
						{ title: 'О нас', url: 'https://github.com/alextheme/gl-test-everest', active: true },
						{ title: 'Решения', url: 'https://alextheme.github.io/gl-test-everest/', active: false },
						{ title: 'Аналитика', url: 'https://alextheme.github.io/gl-test-everest/v2_index.html', active: false },
						{ title: 'Партнеры', url: '#', active: false },
						{ title: 'Контакты', url: '#', active: false },
						{ title: 'Подписка', url: '#', active: false },
					]
				})

				+social({
					mod_block: 'header_mod',
					items: [
						{ name_icon: 'facebook', mod_icon: '', mod_link: 'header_mod' },
						{ name_icon: 'twitter', mod_icon: '', mod_link: 'header_mod' },
						{ name_icon: 'rss', mod_icon: '', mod_link: 'header_mod' },
						{ name_icon: 'youtube', mod_icon: '', mod_link: 'header_mod' },
					]
				})

				.header__search_wrap 
					button.header__search_button.btnSearchMob(type= 'button')
						+icon('shape', 'header__search_icon--size_mod')

					.header__search_input_wrap
						input.header__search_input(type= 'search' placeholder= 'search text')
						.header__search_icon_wrap--input_mod
							+icon('shape')

				.header__language_wrap 
					+menu({
						gl_class: 'header__language',
						items: [
							{ title: 'ua', url: '#', active: true },
							{ title: 'ru', url: '#', active: false },
						]
					})

			.header__menu_trigger_btn.menuTrigger
				.header__menu_trigger_icon_w
					.menu_trigger_icon
						span.menu_trigger_decor
