mixin image_wrapper(item)
  if item.link
    if item.img
    
      .grid_item__image_wrap

        if !(item.accent_look)
          +btn_video(item)
        
        +picture({
          img: item.img,
          class: 'grid_item__picture_wrap',
          img_class: 'grid_item__picture',
        })
      
