mixin image_wrapper(item, img_mod, look_mod)
  if item.link
    if item.img
      .grid_item__image_wrap(class= `${img_mod ? `grid_item__image_wrap--${img_mod}` : ''} grid_item__image_wrap--${look_mod}`)

        if !(item.accent_look)
          +btn_video(item)
        
        +picture({
          img: item.img,
          class: 'grid_item__picture_wrap',
          img_class: 'grid_item__picture',
        })
      
