mixin image_wrapper(item, img_mod, video_mod)
  if item.img
    .grid_item__img_wrap(class= `${img_mod && `grid_item__img_wrap--${img_mod}`} grid_item__img_wrap--${video_mod}`)
      
      +button_vid(item.link.video, video_mod)
      
      if item.link.img
        a.grid_item__link(href= item.link.img)
          +picture({
            img: item.img,
            class: 'picture_wrap',
            img_class: 'picture',
          })
      else 
        +picture({
            img: item.img,
            class: 'picture_wrap',
            img_class: 'picture',
          })
