-
  size_mods = {
    '2': [15, 23],
    '3': [1],
    'row': [6, 10, 13, 16, 17, 21, 22, 25, 27, 31],
    'col': [7, 14, 18, 19, 20, 28, 29, 30],
  };

  resize_mods = {
    'resize_col_to_row': [14, 20, 30],
    'resize_row_to_col': [16, 22, 25],
    'resize_min_to_row': [24, 26],
    'resize_min_to_col': [24, 26],
    'resize_col_to_big': [30],
  };

  default_size = '1';
  offset = 13;
  step = 19;

mixin list(data)
  ul.grid_list
    each item, i in data
      -
        //------------------------------------------------------------ help variables
        number_item = offset + ((i + 1 - offset) % step);
        item_size = Object.keys(size_mods).find(key => size_mods[key].includes(number_item)) || default_size;
        item_resize = Object.keys(resize_mods).filter(key => resize_mods[key].includes(number_item)) || null;

        is_item_size_1 = item_size === '1';
        is_item_size_2 = item_size === '2';
        is_item_size_3 = item_size === '3';
        is_item_size_row = item_size === 'row';
        is_item_size_col = item_size === 'col';

        word_author = `Автор:\u00A0`;
        //------------------------------------------------------------ help variables###

        //------------------------------------------------------------ mods
        //- tag color
        color_tag_mod = `color_${number_item % 8 ? number_item % 8 : 8}_mod`;

        //- image mod
        bg_mod = (item.img && (is_item_size_2 || is_item_size_3)) ? 'bg_mod' : '';
        picture_mod = (item.img && (is_item_size_row || is_item_size_col)) ? 'picture_mod' : '';
        img_mod = item.accent_look && is_item_size_row ? bg_mod : bg_mod || picture_mod;

         //- appearance news block
        look_mod = is_item_size_1 ? 'look_1_1_mod' : '';
        look_mod = !look_mod && is_item_size_row ? (item.img ? 'look_row_1_mod' : (item.descr ? 'look_row_3_mod' : 'look_row_2_mod')) : look_mod;
        look_mod = !look_mod && is_item_size_col ? (item.img ? 'look_col_1_mod' : (item.descr ? 'look_col_3_mod' : 'look_col_2_mod')) : look_mod;
        look_mod = !look_mod && is_item_size_2 ? (bg_mod ? (item.descr ? 'look_2_1_mod' : 'look_2_2_mod') : (item.descr ? 'look_2_3_mod' : 'look_2_4_mod')) : look_mod;
        look_mod = !look_mod && is_item_size_3 ? (bg_mod ? (item.descr ? 'look_3_1_mod' : 'look_3_2_mod') : (item.descr ? 'look_3_3_mod' : 'look_3_4_mod')) : look_mod;
        look_mod = item.accent_look && is_item_size_row ? `look_${item.accent_look}_mod` : look_mod;

        //- item header
        item_header_mod = ((is_item_size_1 && item.author) || (is_item_size_row && img_mod && item.author) || (is_item_size_col && item.author) || look_mod == 'look_3_1_mod' || look_mod == 'look_3_2_mod') ? 'col_mod' : 'row_mod';

        //- font styles
        font_size_mod = (look_mod == 'look_2_3_mod' || look_mod == 'look_2_4_mod' || look_mod == 'look_3_3_mod' || look_mod == 'look_3_4_mod') ? 'font_size_3_mod' : '';
        font_size_mod = !font_size_mod && (look_mod == 'look_row_2_mod' || look_mod == 'look_col_2_mod' || look_mod == 'look_2_3_mod' || look_mod == 'look_2_4_mod') ? 'font_size_2_mod' : font_size_mod;
        font_size_mod = !font_size_mod && look_mod == 'look_1_1_mod' ? 'font_size_1L_mod' : font_size_mod;
        font_size_mod = !font_size_mod ? 'font_size_1_mod' : font_size_mod;
        font_size_mod = item.accent_look ? 'font_size_a_1_mod' : font_size_mod;

        //------------------------------------------------------------ mods###


      +item({
        counter: i + 1,
        item,
        look_mod,
        img_mod,
        font_size_mod,
        item_header_mod,
        color_tag_mod,
        word_author,
        item_resize,
      })
