include mixins/_m_header
include mixins/_m_footer

include mixins/_m_list
include mixins/_m_item
include mixins/_m_image_wrapper
include mixins/_m_item_content
include mixins/_m_btn_video

include mixins/_m_v2_grid_list
include mixins/_m_v2_grid_item

