extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Home page', template_name: 'IndexPage'}
block content_block
	section.section.indent_mod
		.section_in.section_grid
			//- include ../blocks/grid