.footer {
	width: 100%;
	min-height: var(--height-footer);
	flex: 0 0 auto;

	font-size: 1.2rem;

	will-change: transform;

	background: $color_accent;
}

//----------------------------------------------- grid
.footer_wrap {
	padding: 3rem 1rem 4rem;
} 

.footer_in {
	position: relative;
	
	@include bp($point_6 - 1, min) {
		display: grid;
	}

	@include bp($point_1 - 1, min) {
		grid-template-columns: 25rem repeat(2, 1fr);
	}

	@include bp($point_1, $point_4 - 1) {
		grid-template-columns: 25rem 1fr;
	}

	@include bp($point_4 - 1, $point_6) {
		grid-template-columns: 4fr 6fr;
    grid-column-gap: 2rem;
	}

	@include bp($point_6) {
		display: block;
	}

	&.m_copyright_mod {
		@include bp($point_6) {
			padding-bottom: 10rem;
		}
	}
} 
//----------------------------------------------- grid###

//----------------------------------------------- logo
.footer_logo {
	margin-bottom: 3rem;
}

.icon_logo_wrap {
	display: block;

	width: 13.6rem;
	height: 4.6rem;
}
//----------------------------------------------- logo###

//----------------------------------------------- container
.footer_container.flex_col_mod {
	@extend %global_flex_block_column_wrap_flex-start;

	@include bp($point_6) {
		justify-content: center;
    align-content: center;
    align-items: center;
	}
}

.footer_container.mobile_hidden_mod {
	@include bp($point_1) {
		display: none;
	}
}
//----------------------------------------------- container###



//----------------------------------------------- socials
.footer_social_wrap {
	margin-top: auto;
	margin-bottom: 2rem;

	@include bp($point_6) {
		width: 100%;
		text-align: center;

    padding: 3rem 0;
    margin-bottom: 4rem;

		border-top: 1px solid rgba($white, .2);
		border-bottom: 1px solid rgba($white, .2);
	}
}

.footer_social__title {
	display: block;

	margin-bottom: 3rem;
	padding-bottom: 1rem;

	font-family: $font_1;
	font-size: 1.4em;
	text-transform: uppercase;
	
	color: $white;
	border-bottom: 1px solid $white;

	@include bp($point_6) {
		display: none;
	}
}

.social_link.footer_mod {
	color: $white;

	&:hover {
		opacity: .5;
	}
}
//----------------------------------------------- socials###

//----------------------------------------------- copyright
.footer_copyright {
	@extend %global_flex_block_row_nowrap_center_center;

	color: $white;

	font-size: 1.2rem;

	span { 
		margin-right: 8px; 

		&:first-child {
			font-size: 2.6rem;
		}
	}

	&.m_copyright_mod {
		@include bp($point_6) {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0);
		}

	}
}
//----------------------------------------------- copyright###

//----------------------------------------------- menu navigation
.footer_menu_wrap {
	@extend %global_flex_block_row_wrap_flex-start;
}

.footer_menu__list {
	width: calc((100% - 8rem) / 2);
	margin-right: 4rem;

	&:last-child {
		margin-right: 0;
	}
}

.footer_menu__item {
	margin-bottom: 1.8rem;
	padding-bottom: 4px;
	border-bottom: 1px solid rgba($white, .6);

	&:last-child {
		border: none;
		margin-bottom: 0;
	}
}

.footer_menu__link {
	@extend %transition_opacity;

	font-family: $font_1;;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.4rem;
	text-transform: uppercase;

	color: $white;

	&:hover {
		opacity: .5;
	}
}

.footer_sub_menu__title {
	margin-bottom: 2.4rem;
	
	font-family: $font_1;;
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: 500;
	text-transform: uppercase;
	
	color: $white;
}

.footer_sub_menu__list {

}

.footer_sub_menu__item {
	padding-bottom: 5px;
	margin-bottom: 1.8rem;

	&:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.footer_sub_menu__link {
	@extend %transition_opacity;

	font-family: $font_1;
	font-size: 1.4rem;
	line-height: 1.2rem;
	font-weight: 400;
	
	color: $white;

	&:hover {
		opacity: .5;
	}
}

//----------------------------------------------- menu navigation###
//----------------------------------------------- about
.footer_about_wrap {
	
	@include bp($point_6) {
		&.mobile_hidden_mod {
			display: none;
		}
	}
}

.footer_about__title {
	margin-bottom: 2.4rem;
	padding-bottom: 6px;
	
	font-family: $font_1;
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: 500;
	text-transform: uppercase;

	color: $white;
	border-bottom: 1px solid rgba($white, .6);
}

.footer_about__description {
	width: 100%;

	font-family: $font_1;
	font-size: $font_size_base;
	line-height: 1.1;
	font-weight: 400;
	
	color: #ffffff;

	p {
		margin-bottom: 1rem;
	}
}


.footer_subscribe_wrap {

}
//----------------------------------------------- about###

//----------------------------------------------- subscribe
.footer_subscribe_wrap {
	justify-self: stretch;

	margin-top: auto;

	@include bp($point_4 - 1, min) {
		padding-right: 3rem;
	}

	@include bp($point_6) {
		width: 100%;
	}
}

.footer_subscribe__title {
	margin-bottom: 0.71429em;

	font-family: $font_1;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.14286;

	color: $white;

	@include bp($point_6) {
		text-align: center;
	}
}

.footer_subscribe__form {
	width: 100%;
}

.footer_subscribe__controller {
	@extend %global_flex_block_row_wrap_flex-start_center;
}

.form_input.footer_mod {
	@include bp($point_4) {
		width: 100%;
		margin: 0 auto 2rem;
		max-width: 30rem;
	}
}

.form_input__field.footer_mod {
	width: 100%;

	font-family: $font_1;
	font-size: $font_size_base;
	font-weight: 500;
	
	color: $white;
	border: 0;
	border-radius: $gl_radius;
	box-shadow: none;
	background: rgba($white, .5);
}

.form_input__element.footer_mod {
	width: 100%;
	height: 3.8rem;

	font-family: $font_1;
	font-size: $font_size_base;
	font-weight: 500;

	color: $color_text_base;
	background: rgba($white, .2);

	border: 0;
	box-shadow: none;

	&::-webkit-input-placeholder {
		color: $white;
	}
	&::-moz-placeholder {
		color: $white;
	}
	&:-ms-input-placeholder {
		color: $white;
	}
	&:-moz-placeholder { 
		color: $white;
	}
}

.footer_subscribe__btn {
	@extend %transition_color_background;
	
	margin-left: auto;

	&:hover {
		color: $color_accent;
		background: $white;
	}

	@include bp($point_4, $point_6 - 1) {
		width: 100%;
	}

	@include bp($point_6) {
		width: 100%;
		max-width: 30rem;
		margin: 0 auto;
	}
}


//----------------------------------------------- subscribe###
