//------------------------------------------------------------layout
.header {
	@extend %transition_transform;
	
	position: fixed;
	top: 0;
	left: 0;

	height: var(--height-header);
	width: 100%;
	padding: 0 1rem;

	font-size: 1.2rem;

	will-change: transform;

	@include z-index(header);
}

.header_in {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	height: 100%;

	background: $white;
}
//------------------------------------------------------------layout###

//------------------------------------------------------------hide scroll
.header--hide_mod {
	@extend %transition_transform;

	transform: translate(0, calc(0px - var(--height-header)));
}
//------------------------------------------------------------hide scroll###


@mixin width_height_full {
	width: 100%;
	height: 100%;
}

//--------------------------------------------------------------logo
.header__logo_link {
	min-width: 13.6rem;
	min-height: 4.4rem;
	margin-right: 1rem;
}

.header__logo_img {
	@include width_height_full;
}

.header__logo_link--mobile_mod {
	@include bp($point_1) {
		margin-left: 3rem; 
	}
}
//--------------------------------------------------------------logo###

//--------------------------------------------------------------menu
.header__menu {
	@extend %global_flex_block_row_wrap_center_center;

	margin-left: auto;

	@include bp($point_1) {
		display: none;
		margin: 0 auto;
		padding: 2rem 0;
		
		text-transform: uppercase;
		
		background-color: $color_text_light;
	}
}

.header__menu__list {
	@extend %global_flex_block_row_nowrap_flex-start_center;
	
	@include bp($point_1 - 1, min) {
		height: 100%;
		margin-right: 2rem;
		
		text-transform: uppercase;
		color: $color_text_base;
	}

	@include bp($point_1) {
		display: block;
		margin-bottom: 3rem;
		
		text-align: center;
		color: $white;
	}
}

.header__menu__item {
	@extend %transition_color;

	min-height: calc(var(--height-header) / 2);;

	line-height: calc(var(--height-header) / 2);

	&:hover:not(.header__menu__item--active_mod) {
		color: $color_accent;
	}

	@include bp($point_1 - 1, min) {
		margin-right: 1rem;

		&:last-child {
			margin-right: 0;
		}
	}
}

.header__menu__item--active_mod {
	color: $color_accent;

	a { cursor: default }
}

.header__menu__link {
	display: block;
	
	color: inherit;

	@include width_height_full;

	@include bp($point_1 - 1, min) {
		padding: 0 1rem;
	}
}
//--------------------------------------------------------------menu###

//--------------------------------------------------------------social
.social_list {
	@extend %global_flex_block_row_wrap_center;

	&.header_mod {
		@include bp($point_1 - 1, min) {
			margin-right: 3rem;
		}
	
		@include bp($point_1) {
			margin-bottom: 3rem;
		}
	}
}

.icon {
	@include width_height_full;
}

.social_item {
	margin-right: 2rem;

	&:last-child {
		margin-right: 0;
	}
}

.social_link {
	@extend %global_flex_block_row_wrap_center_stretch;
	@extend %transition_opacity;

	width: 2.2rem;
	height: 2rem;

	&.header_mod {
		@include bp($point_1 - 1, min) {
			color: $color_text_light;

			&:hover {
				color: $color_accent;
			}
		}
	
		@include bp($point_1) {
			color: $white;

			&:hover {
				opacity: .5;
			}
		}
	}
}
//--------------------------------------------------------------social###

//--------------------------------------------------------------search
.header__search_wrap {
	@extend %global_flex_block_row_wrap_center_center;
	
	@include bp($point_1 - 1, min) {
		height: 100%;
		margin-right: 3rem;
	}

	@include bp($point_1) {
		position: relative;
		margin-bottom: 3rem;
	}
}

.header__search_button {
	@extend %transition_color;

	cursor: pointer;
	
	&:hover {
		color: $color_accent;
	}

	@include bp($point_1 - 1, min) {
		color: $color_text_light;
	}

	@include bp($point_1) {
		position: absolute;
		top: 0;
		right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
		width: 4rem;
		height: 4rem;

		color: $color_text_light;
	}
}

.header__search_icon--size_mod {	
	width: 2.2rem;
	height: 2rem;
}

.header__search_input_wrap {
	position: relative;
	height: 4rem;

	@include bp($point_1 - 1, min) {
		display: none;
		max-width: 60rem;
    height: 10rem;
    padding: 0 4rem;
    margin: 9rem auto 0;

    background: $color_accent;
	}

	@include bp($point_1) {
    width: 100%;
		max-width: 40rem;
	}
}

.header__search_input {
	@extend %form_el_default;
}

.header__search_icon_wrap--input_mod {
	@extend %vert_centr;
	@extend %transition_opacity;

	position: absolute;
	
	width: 3rem;
	height: 3rem;
	margin-right: 2px;

	color: $color_accent;

	&:hover {
		opacity: .5;
	}

	@include bp($point_1 - 1, min) {
		right: 4rem;
	}

	@include bp($point_1) {
		right: 0;
	}
}
//--------------------------------------------------------------search###

//--------------------------------------------------------------language
.header__language_wrap {
	@extend %global_flex_block_row_nowrap_center_center;

	height: 100%;
}

.header__language__list {
	@extend %global_flex_block_row_nowrap_center_center;

	text-transform: uppercase;

	@include bp($point_1 - 1, min) {
		color: $color_text_light;
	}
	
	@include bp($point_1) {
		color: $white;
	}
}

.header__language__item {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;

		width: 1px;
	}

	&:last-child {
		margin-right: 0;

		&::before {
			display: none;
		}
	}

	@include bp($point_1 - 1, min) {
		margin-right: 2rem;

		&::before {
			height: 1.8rem;
			margin-right: -1rem;

			background: $color_text_light;
		}
	}
	
	@include bp($point_1) {		
		margin-right: 6rem;

		&::before {
			height: 3rem;
			margin-right: -3rem;
			
			background: $white;
		}
	}
}

.header__language__item--active_mod {
	color: $color_accent;
}

.header__language__link {
	@extend %transition_color;

	color: inherit;

	&:hover {
		color: $color_accent;
	}
}
//--------------------------------------------------------------language###

//--------------------------------------------------------------popup menu
.mfp-close-btn-in .mfp-close {
	color: $white;
}

.mfp-content {
	.header__menu {
		@extend %title_font_2;

		display: block;
	}

	.header__search_input_wrap {
		@extend %global_flex_block_row_nowrap_center_center;
	}
}
//--------------------------------------------------------------popup menu###



