//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;

	font-size: $font_size_base;
}

.section_in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}

.section_grid {
	padding: 0 calc(var(--gl-indent) / 2);
}

.indent_mod {
	padding: 0 calc(var(--gl-indent) / 2);
}


// TODO: delete style
.header, .footer, .indent_mod, .section_in {
	background-color: rgb(202, 202, 202);
}
