//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;

	font-size: $font_size_base;
}

.section_in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}

// TODO: delete style
.header, .footer, .indent_mod, .section_in {
	background-color: rgb(224, 224, 224);
}
