//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;

	font-size: $font_size_base;

	/* ----------- 0 - 480px ----------- */
	@include bp($point_6 + 1) {
		padding: 0 calc(var(--gl-indent) + 1px);
	}
}

.section_in {
	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}

.section_grid {
	/* ----------- 1200px + ----------- */
	@include bp($point_1 - 1, min) {
		max-width: $page_width;
	}
	
	/* ----------- 1200px - 1024px ----------- */
	@include bp($point_1, $point_2) {
		max-width: 92rem;
	}
	
	/* ----------- 1024px - 768px ----------- */
	@include bp($point_3, $point_4 - 1) {  
		max-width: 68.5rem;
	}
	
	/* ----------- 768px - 480px ----------- */
	@include bp($point_4, $point_6 - 1) {
		max-width: 45rem;
	}
	
	/* ----------- 0 - 480px ----------- */
	@include bp($point_6 + 1) {
    width: 100%;
  }
}
